body{
	background-color: #2d3c49;

}
.container{
 background-color: white;
}
header h1,
header h4 {
	font-weight: 200px;
	font-family: arial;
}

header h1 {
	font-size: 20px;
	color: #384444;
}

header h4 {
	font-size: 20px;
}
.logo{
	width:150px;
	color: #02b3e4;
}

.row{
	border-bottom: 4px solid #7d97ad;
}
h2{
	border:0px;
	margin: 0px
}
